/* TYPOGRAPHY */

@import url(https://fonts.googleapis.com/css?family=Oswald|Lora:400,700,400italic|Playfair+Display:900|Source+Sans+Pro:300,300italic,700);

h1,h2,h3,h4,h5,h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
p,a,li,blockquote {
  font-family: "Lora", serif;
  font-weight: 400;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #222;
}

a:hover {
  color: #0996FF;
  text-decoration: none;
}

/* REUSABLE STYLES */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.source {
  font-family: "Source Sans Pro", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

/* SLIDESHOW */
.slider-decorator-0 button, .slider-decorator-1 button {
  font-family: "Oswald", sans-serif;
  letter-spacing: .1em;
}

/* APP STYLES */
.App {
  text-align: center;
}

.App-title {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 5em;
}

.App-subtitle {
  font-family: "Lora", serif;
  margin: 0;
  font-size: 1.5em;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-menu {
  /*border-bottom: 1px solid #222;*/
  background-color: #eee;
  padding: 1em;
}

.App-menu-item {
  display: inline-block;
  margin-left: 1em;
  font-size: 1.2em;
}

.App-menu-item:first-child {
  margin-left: 0;
}

.App-menu-link {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: #222;
}

.App-menu-link:hover {
  border-bottom: 1px solid #222;
}

.App-intro {
  font-size: large;
}

/* Details */

.details-title {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  border-bottom: 1px solid #222;
  display: inline-block;
}

.details-sections {
  padding: 2em;
}

.details-section {
  width: 45%;
}

.details-section.even {
  float: right;
}

.details-section.odd {
  float: left;
  clear: both;
}

.details-section-header {
  text-align: left;
  text-transform: uppercase;
}

.details-container {
  text-align: left;
}

.details-price {
  font-size: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 1em;
  display: inline-block;
  margin: 0 auto;
}

/* 3D Model */

.model-outer {
  padding: 2em;
}

.model-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 40%;
}

.model-frame {
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Maps */

.map-section {
  padding: 2em;
}

/* Contact */

.app-contact-container {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 580px) {

  .no-mobile {
    display: none;
  }

  .App-title {
    font-size: 3em;
    margin-top: .25em;
  }
  .App-subtitle {
    font-size: 1.2em;
    margin-top: .5em;
  }

  .App-menu-item {
    font-size: 1em;
  }

  .slider-decorator-2 {
    display: none;
  }

  .details-section {
    float: none;
    width: 100%;
  }

}